<app-hijo
  (EmitirObjeto1)="recibirObjeto1($event)"
  (EmitirObjeto2)="recibirObjeto2($event)">
</app-hijo>


<h1>Objetos con @Output</h1>

  <ul>
    <li>Objeto1 del Hijo: <pre>{{obj1 | json}}</pre></li>
    <li>Objeto2 del Hijo: <pre>{{obj2 | json}}</pre></li>
  </ul>


